header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
  position: fixed;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  z-index: 1;
};

header#loginInfo div {
  display: flex;
  flex-direction: column;
}