@media (max-width: 1024px) {
  nav {
    background-color: #ffa500;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  }
  
  header#loginInfo {
    height: 520px;
    position: unset;
    width: 100%;
    padding-top: 140px;
  }

  .container {
    justify-content: center;
  }

  section.new-tweet {
    padding-top: 0;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
  }
} 