article.tweetBox {
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
}

article.tweetBox:hover {
  box-shadow: 5px 10px rgb(189, 189, 243);
}

article div.profile {
  display:flex;
}

article header {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

article p.content {
  padding-left: 10px;
}

article p.tag {
  color:#405c8d;
  font-size: medium;
}

article footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-top: 2px solid black;
}

.profile img {
  padding-right: 5px;
}

.icons i:hover {
  color: rgb(167, 167, 66);
} 

.profile p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweetsContainer {
  display:flex;
  flex-direction: column-reverse;
}